.rooms-main {
    max-width: 1200px;
    margin: 0 auto;
}

.rooms-main__photo {
    background-image: url(https://app.icnea.net/img2/E1695/imgs/E1125F0x700.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 150px;
    background-position: center center;
}

.rooms-options__container {
    padding: 20px;
    background-color: #F5F5F5;
}

.rooms-options__title {
    font-size: 20px;
}

.rooms-options__list-container {
    padding: 0 18px;
    background-color: #fff;
    list-style-type: none;
}

.rooms-options__option {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
    margin: auto 0;
    padding: 10px 0;
}

.rooms-options__option-icon.option-head-icon {
    width: 50px;
}

.rooms-options__option-body {
    display: flex;
    flex-direction: column;
}

.rooms-options__option-line {
    line-height: 18px;
    text-align: center;
}

.rooms-options__option-line.line-1 {
    font-size: 20px;
    font-weight: 800;
}

.rooms-options__option-line.line-2 {
    font-size: 16px;
    font-weight: 400;
    color: gray;
}

.rooms-options__option-line.line-3 {
    font-size: 16px;
    font-weight: 400;
    color: lightslategray;
}

.rooms-options__option-icon {}