.hiden {
    display: none;
}

.rooms-main {
    max-width: 1200px;
    margin: 0 auto;
}

    .rooms-main__photo {
        background-image: url(https://app.icnea.net/img2/E1695/imgs/E1125F0x700.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        height: 150px;
        background-position: center center;
    }

    .rooms-options__container {
        padding: 20px;
        background-color: #F5F5F5;
    }

        .rooms-options__title {
            font-size: 20px;
        }

        .rooms-options__list-container {
            padding: 8px 18px;
            background-color: #fff;
            list-style-type: none;
        }
        
            .rooms-options__option {
                height: 50px;
                margin: 8px 0;
                padding: 8px 32px;
                background-color: #F4FAFA;
                border-radius: 20px;
            }
            .rooms-options__option.active {
                height: max-content;
            }

                .rooms-options__resume {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                }

                    .rooms-options__option-icon.option-head-icon {
                        width: 38px;
                        height: 38px;
                        margin: auto 0;
                    }

                    .rooms-options__option-body {
                        display: flex;
                        flex-direction: column;
                    }

                        .rooms-options__option-line {
                            line-height: 18px;
                            text-align: center;
                        }
                        
                            .rooms-options__option-line.line-1 {
                                font-size: 20px;
                                font-weight: 800;
                            }
                            .rooms-options__option-line.line-2 {
                                font-size: 16px;
                                font-weight: 400;
                                color: gray;
                            }
                            .rooms-options__option-line.line-3 {
                                font-size: 16px;
                                font-weight: 400;
                                color: lightslategray;
                            }

                .rooms-options__option-icon {

                }

                .rooms-options__details {
                    height: max-content;
                    width: 100%;
                    margin-top: 18px;
                    margin-left: -12px;
                    padding: 20px 8px;
                    background: #fff;
                    border-radius: 8px;
                    box-shadow: 8px 8px 12px rgb(0 0 0 / 10%);
                    border: solid 2px rgba(0,0,0,0.1);
                }
                .rooms-options__option:not(.active) .rooms-options__details {
                    display: none;
                }

                    .rooms-options__iframe {
                        width: 100%;
                        height: 100%;
                        min-height: 50vh;
                        border-radius: 4px;
                        border: solid 2px rgba(0,0,0,0.05);
                    }
